#app {
    display: flex;
}

.elemento {
    color: darkgray;
    padding: 5px;
    border-style: solid;
    border-color: cadetblue;
    margin: 5px;
    width: 150px;
}

.elemento .quantita {
    color: black;
}

.elemento .nome {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}

.elemento .vendita {
    color: black;
}

.elemento .acquisto {
    color: black;
}

#portafoglio {
    font-weight: 700;
    font-size: 2em;
    padding: 5px;
    border-style: solid;
    border-color: cadetblue;
    margin: 5px;
    width: 150px;
}